{% extends 'index.html' %}

{% block page-content %}
    <div id="page-content">
    {% csrf_token %}
    <div class="row">
    <div class="col-sm-3">
   <div class="panel">
    <!-- Panel Heading -->
    <div class="panel-heading">
        <div class="panel-control">
            <!-- Close Button -->
            <button class="btn btn-default" data-dismiss="panel">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <h5 class="panel-title">可操作的主机列表</h5>
    </div>


    <!-- Panel body -->
    <div class="panel-body">
        <!-- Content here -->
        <div class="list-group bord-no">
            {% for host_group in request.user.host_groups.all %}
            <a class="list-group-item" href="#" onclick="ItemToggle(this)">{{ host_group.name }}<span class="badge badge-primary">
                {{ host_group.host_to_remote_users.count }}</span></a>
                <ul>
                    {% for host_to_user_obj in host_group.host_to_remote_users.all %}
                        <li>
                            <input type="checkbox" tag="host-select" value="{{ host_to_user_obj.id }}">
                            {{ host_to_user_obj.host.name }}<br>{{ host_to_user_obj.host.ip_addrss }}@{{ host_to_user_obj.remote_users.username }}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}


            <a class="list-group-item" href="#" onclick="ItemToggle(this)">未分组主机
                <span class="badge badge-primary">
                {{ request.user.host_to_remote_users.count }}
                </span>
            </a>
                <ul>
                    {% for host_to_user_obj in request.user.host_to_remote_users.all %}
                        <li>
                            <input type="checkbox" tag="host-select" value="{{ host_to_user_obj.id }}">
                            {{ host_to_user_obj.host.name }}<br>{{ host_to_user_obj.host.ip_addrss }}@{{ host_to_user_obj.remote_users.username }}
                        </li>
                    {% endfor %}
                </ul>



        </div>
    </div>
</div>
</div>

<div class="col-sm-9">
<div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">命令操作</h3>
                </div>
                <div class="panel-body" >
                    <textarea class="form-control" id="cmd_input" placeholder="input your cmd here..."></textarea>
                    <input type="button" id="task_submit_btn" class="button btn-success" onclick="PostTask(this)" value="执行命令">
                </div>
            </div>
<div class="panel">
        <div class="panel-heading">
        <h3 class="panel-title">任务结果</h3>
        </div>
        <div class="panel-body" >
            <ul id="task_result_container"></ul>
        </div>
</div>
</div>
</div>
</div>

    <script>
    function ItemToggle(ele) {
        $(ele).next().toggle()

    }
    function PostTask(self) {
        var cmd_text = $('#cmd_input').val().trim();
        var selected_host_ids = [];
        $("[tag='host-select']:checked").each(function () {
            selected_host_ids.push($(this).val())
        })
        console.log(selected_host_ids)
        if (selected_host_ids.length == 0 ){
            swal({title:'选择主机！',text:'2秒后自动关闭',timer:2000,showConfirmButton:false})
            return false
        }
        if (cmd_text.length == 0){
            swal({title:'输入命令！',text:'2秒后自动关闭',timer:2000,showConfirmButton:false})
            return false;
        }

        task_arguments = {
            'selected_hosts':selected_host_ids,
            'task_type':'cmd',
            'cmd':cmd_text,

        }
        $(self).addClass('disabled');
        $('#task_result_container').empty();

        var csrftoken = $('input[name="csrfmiddlewaretoken"]').val()
        $.post('{% url "batch_task_mgr" %}',{'task_data':JSON.stringify(task_arguments),'csrfmiddlewaretoken':csrftoken},function(callback){
            console.log('task callback',callback)
            var callback = JSON.parse(callback);

            $.each(callback.selected_hosts,function (index,ele) {
                var li_ele = "<li log_id='" + ele['id'] +"' >Host:" + ele.host_to_remote_user__host__name + "(" + ele.host_to_remote_user__host__ip_addrss +
                        ")-----------<span tag='log_status'></span></li>";
                li_ele += "<pre>waiting for result</pre>";
                $("#task_result_container").append(li_ele)
            })

            ResultRefreshObj = setInterval(function () {
                GetTaskResult(callback.task_id);
            },2000)

        })
    }

    function GetTaskResult(task_id) {
        $.getJSON("{% url 'get_task_result' %}",{'task_id':task_id},function(callback){
            console.log(callback)

            var all_task_done = true;
            $.each(callback,function (index,ele) {
                var li_ele = $("li[log_id=" + ele['id'] + "]");
                li_ele.children().first().text(ele['status']);
                li_ele.next().text(ele['result']);

                if (ele['status'] == 0 ){
                    all_task_done = false;
                }
            })

            if (all_task_done){
                clearInterval(ResultRefreshObj);
                $('#task_submit_btn').removeClass('disabled');
                console.log('-------all task done-------')
            }
        })
    }
    </script>
{% endblock%}