<script>
    function ItemToggle(ele) {
        $(ele).next().toggle()
    }
    function hostGroupToggle(ele) {
        $('#test').parent().siblings().children('div').toggle()
        // $('#test').toggle()
    }
    function chooseAll() {
        $(':checkbox').prop('checked',true)
    }
    function cancel() {
        $(':checkbox').prop('checked',false)
    }
    function reverse() {
        $(':checkbox').each(function () {
            if($(this).prop('checked')){
                $(this).prop('checked',false)
            }else {
                $(this).prop('checked',true)
            }
        })
    }

    function postTask(self,task_type) {
        var selected_host_ids = [];

        $(':checkbox:checked').each(function () {
            selected_host_ids.push($(this).val())
        })

        if (selected_host_ids.length == 0){
            $.niftyNoty({
            type: 'danger',
            container : 'floating',
            title : '注意！！',
            message : '必须选择一台或多台主机！',
            closeBtn : false,
            timer : 2000,
            });
            return false
        }

        var task_arguments = {}
        if(task_type == 'cmd'){
            var cmd_text = $('#cmd_input').val().trim();
            var task_arguments = {
                'selected_hosts':selected_host_ids,
                'task_type':'cmd',
                'cmd':cmd_text,
            }
            if (cmd_text.length == 0){
                $.niftyNoty({
                type: 'danger',
                container : 'floating',
                title : '注意！！',
                message : '必须输入命令！',
                closeBtn : false,
                timer : 2000,
                });
                return false
            }
        }else {
            var remote_file_path = $('#remote_file_path').val().trim()
            var local_file_path = $('#local_file_path').val().trim()
            var file_transfer_type = $('#file_transfer_type').val()
            if (file_transfer_type == 'send') {
                if (local_file_path.length == 0) {
                    $.niftyNoty({
                        type: 'danger',
                        container: 'floating',
                        title: '注意！！',
                        message: '输入本地路径！',
                        closeBtn: false,
                        timer: 2000,
                    });
                    return false
                }
            }

            if (remote_file_path.length == 0) {
                $.niftyNoty({
                    type: 'danger',
                    container: 'floating',
                    title: '注意！！',
                    message: '输入远程路径！',
                    closeBtn: false,
                    timer: 2000,
                });
                return false
            }
            var task_arguments = {
                'selected_hosts': selected_host_ids,
                'task_type': 'file_transfer',
                'file_transfer_type': file_transfer_type,
                'local_file_path': local_file_path,
                'remote_file_path': remote_file_path
            }
        }

        console.log('ready to post task...')


        $(self).prop('disabled','disabled')
        $('#task_result_container').empty()

        var csrftoken = $('[name="csrfmiddlewaretoken"]').val()
        $.post('{% url "batch_task_mgr" %}',{'csrfmiddlewaretoken':csrftoken,'task_data':JSON.stringify(task_arguments)},function(callback){
            // console.log('task data',callback)
            var callback = JSON.parse(callback)

            $.each(callback.selected_obj,function (index,ele) {
                var li_ele = "<li class='list-group-item' id=" + ele['id'] + ">"+
                    ele.host_to_remote_user__host__name + "(" +
                    ele.host_to_remote_user__host__ip_addrss + ")" + "      " + "<span></span></li>"
                li_ele += "<pre class='bord-no'>waiting for reulst</pre>"
                $('#task_result_container').append(li_ele)
                // $('#task_result_container').next().text(ele.result)
            })

            ResultFreshObj = setInterval(function () {
                GetTaskResult(callback.task_id)
            },2000)

        })

    }

    function GetTaskResult(task_id) {
        $.getJSON('{% url "get_task_reult" %}',{'task_id':task_id},function(callback){
            // console.log(callback)
            var all_task_done = true
            $.each(callback,function (index,ele) {
                // var log_id = "[log_id=" + ele['id'] +"]"
                console.log(ele['result'])
                var li_ele = $("[id="+ ele['id'] + "]")
                // var li_ele_span = $("[id="+ ele['id'] + "]")
                li_ele.next().text(ele['result'])
                // li_ele.children().first().text(ele['status'])
                if(ele['status'] ==0){
                    all_task_done = false
                }
                if(ele['status'] == 2){
                    li_ele.children().first().text(ele['status']).addClass('label label-danger').text(' failed')
                }
                else if(ele['status'] == 1){
                    li_ele.children().first().text(ele['status']).addClass('label label-success').text(' success')
                }

            })

            if(all_task_done){
                clearInterval(ResultFreshObj)
                $('#task_submit_btn').prop('disabled',false)
                console.log('---------all task done---------')
            }

        });
    }


    function CheckTranserFileType(ele) {
        // $(ele).next().prop('type','hidden')
        if($(ele).val() == 'send'){
            $('#local_file_path').removeClass('hide')
        }else {
            $('#local_file_path').addClass('hide')
        }
    }

</script>