<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>

<body>
<h2>$("div").siblings("p")将选中什么?</h2>
<p>这是一个P元素，是div的兄弟元素。</p>
<div style="border:1px solid black;padding:10px;">这是一个P元素。
<p>123</p>
</div>
<p>这是一个P元素，是div的兄弟元素。</p>
<p>这也是一个P元素，是div的兄弟元素。</p>
<div style="border:1px solid black;padding:10px;">
<p id="test">这是div内的一个P元素(div的子节点)。</p>
</div>
<h2>这是一个标题</h2>
<p>这是div的另一个兄弟节点。</p>
<script>


</script>

</body>
</html>