{% extends 'index.html' %}
{% block page-content %}
<div class="mar-top">web ssh</div>

<div class="col-xs-6">
                                        <div id="demo-overlay-title" class="panel pad-all">
                                            <h4>Content Title</h4>
                                            Lorem ipsum dolor sit amet
                                            <div class="mar-top">
                                                <button id="demo-overlay-btn-2" data-target="#demo-overlay-title" class="btn btn-mint btn-labeled fa fa-refresh" autocomplete="off">
                                                    Refresh
                                                </button>
                                            </div>
                                        </div>
                                    </div>


    <script>


    $('#myButton').niftyOverlay({
        title: 'Loading...'
        })




    </script>
{% endblock %}